header{
    display: flex;
    justify-content: space-between;
    background-color: #353b48;
    font-family: 'Aboreto', cursive;
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    margin-left: 12px;
    margin-top: 13px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 12px;
}

li{
    font-size: 19px;
    color: white;
}

.second{
    display: flex;
    justify-content: center;
    background-color:#353b48;
    font-size: 37px;
    text-align: center;
    margin: 18px;
    color: white;
}

.child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    color: white;
}

img{
    height: 300px;
    width: 200px;
    margin: 30px;
    border: 2px solid black;
    align-self: center;
}

.first{
    height: 400px;
    width: 700px;
    margin-left: 60px;
}

.tercero{
    display: flex;
    justify-content: center;
    background-color: #353b48;
    margin:20px;
    margin-top: 10px;
}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    color: white;
}

.last{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#353b48;
    line-height: 20px;
    text-align: center;
    margin-top: 70px;
}

.thelast{
    display: flex;
    justify-items: center;
    width: 900px;
    height: 500px;
    margin-left: 30px;
}

.max{
    background-color: #353b48;
    margin: 30px;
    margin-top: 80px;
}

.problem{
    margin: 0px;
    font-family: 'Aboreto', cursive;
    color: white;
}

body{
    background-color: #353b48;
}

p{
    text-align: center;
    font-size: 20px;
    color: white;
}

footer{
    background-color: #2f3640;
    margin-top: 70px;

}
footer  p{
text-align: center;
font-size: 18px;
}

a{
    color: black;
}